{% extends "base.html" %}
{% block title %}
About Us

{% endblock title %}
{% block head %}
<h1>About Us</h1>
{% endblock head %}

{% block body %}

<section id="features" class="features section">

    <div class="container">

      <div class="row gy-4">
        <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="static/assets/img/gym3.jpg" alt=""></div>
        <div class="col-lg-6">

          
            <div>
              <h4>POWER UP YOUR FITNESS WITH FITZONE FITNESS</h4>
              <p>Fitzone Fitness was established in 2015 with a clear mission to provide exceptional fitness experiences to all our members.<br>Over the years, we have grown to become one of the leading fitness chains in the region, offering a diverse range of services for both beginners and elite athletes. We are proud to specialize in healthcare services that are not only preventive but also therapeutic, ensuring a holistic approach to fitness and well-being.

                Our vision is to bring world-class fitness facilities closer to you. Currently, we operate a network of fitness centres across Colombo and its suburbs, serving over 15,000 members. With more than 50,000 sq ft of gym space, Fitzone Fitness provides a dynamic and comprehensive environment for your fitness journey.<br>
                
                At Fitzone Fitness, we believe that fitness is a lifestyle, not just a goal. Our dedication to helping you achieve your fitness aspirations sets us apart. Our team of certified trainers works closely with each member to create personalized fitness plans that align with their individual goals.<br> Whether you're just starting out or looking to push your limits, we have the tools, expertise, and passion to support your success.
                
                </p>
            </div>
          </div><!-- End Features Item-->


  {% endblock body %}




